---
// TODO: revoir les md des spectacles et faire des vrais spectacles
import ShowCard from "../ui/ShowCard.astro";

// Simulation des données provenant de sortedShow
import { getCollection } from "astro:content";
const spectaclesCollection = await getCollection("spectacles");

// Console log pour debug
//console.log('=== spectacle DEBUG ===');
//console.log('Nombre de dates:', spectaclesCollection.length);
//console.log('Dates:', spectaclesCollection);
---

<section class="bg-dark p-10">
    <h2
      class="text-center text-h2 font-bold text-white text-shine p-10 font-display--headings"
    >
      Répertoire
    </h2>

    <div class="flex flex-col items-center">
      {
        spectaclesCollection.map((event, index) => (
          <ShowCard event={event} index={index} />
        ))
      }
    </div>
</section>
