---
import Keystatic from '@keystatic/astro';
import BaseLayout from '../layouts/BaseLayout.astro';

// Option : on peut empêcher l’accès en prod si besoin
if (import.meta.env.PROD) {
  throw new Error('Keystatic admin UI désactivée en production');
}
---

// à quoi sert cette page ?

<BaseLayout title="Admin - La Boucle de la boucle">
  <h1 class="text-4xl font-bold mb-8">Admin Interface</h1>
<Keystatic />
</BaseLayout>

